<html>
<head>
	<title>Editar Proveedor</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</head>
<body>
	{% include 'layouts/nav.html' %}
	<div class="container">
		{% include 'layouts/alerts.html' %}
		<form class="panel panel-primary" action="/home/suppliers/update/{{doc._id}}" method="POST">
			<div class="panel-heading">
				<div class="panel-title">
					<h1 class="text-center">Editar Proveedor</h1>
				</div>
			</div>
			<div class="panel-body">
				<a href="/home/suppliers" class="btn btn-primary">Atras</a>
				<div class="form-group">
					<label for="name" class="text-primary">(*) Nombre</label>
					<input type="text" name="name" id="name" class="form-control" value="{{doc.name}}" placeholder="Ingrese el nombre del Proveedor" required autofocus />
				</div>
				<div class="form-group">
					<label for="address" class="text-primary">Dirección</label>
					<input type="text" name="address" id="address" class="form-control" value="{{doc.address}}" placeholder="Ingrese la dirección del Proveedor" />
				</div>
				<div class="form-group">
					<label for="phone" class="text-primary">Teléfono</label>
					<input type="text" name="phone" id="phone" class="form-control" value="{{doc.phone}}" placeholder="Ingrese el teléfono del Proveedor" />
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
					<button type="submit" class="btn btn-success pull-right">Modificar</button>
				</div>
			</div>
		</form>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title">¿Está Seguro de Eliminar el Proveedor Actual?</h4>
      			</div>
      			<div class="modal-body">
        			<p>Al eliminar el registro actual no podrá Recuperarlo.</p>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<a href="/home/suppliers/delete/{{doc._id}}" class="btn btn-danger">Eliminar</a>
      			</div>
    		</div>
  		</div>
	</div>
</body>
</html>