<html>
<head>
	<title>Cambiar Contraseña</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</head>
<body>
	{% include 'layouts/nav.html' %}
	<div class="container">
		{% include 'layouts/alerts.html' %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<h1 class="text-center">Cambiar Contraseña</h1>
				</div>
			</div>
			<form class="panel-body" action="/home/profile/password" method="POST">
				<div class="alert alert-warning hidden">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p class="message"></p>
				</div>
				<input type="password" class="hidden"/>
				<div class="form-group">
					<label for="password" class="text-primary">(*) Actual Contraseña:</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su Actual Contraseña" required autofocus/>
				</div>
				<div class="col-md-12"><hr/></div>
				<div class="form-group">
					<label for="password1" class="text-primary">(*) Nueva Contraseña:</label>
					<input type="password" name="password1" id="password1" class="form-control" placeholder="Ingrese la Nueva Contraseña" required/>
				</div>
				<div class="form-group">
					<label for="password2" class="text-primary">(*) Repita su Nueva Contraseña:</label>
					<input type="password" name="password2" id="password2" class="form-control" placeholder="Ingrese Nuevamente la Contraseña" required/>
				</div>
				<div class="form-group">
					<a href="/home" class="btn btn-default">Cancelar</a>
					<button type="submit" class="btn btn-success pull-right" disabled="true">Cambiar</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
	$('#password1').on('keyup change',function(){
		password1 = $(this).val()
		if(password1.length < 8){
			$('div.alert').attr('class','alert alert-warning');
			$('p.message').html('La Contraseña debe ser superior a los 8 caracteres.');
		}else{
			$('div.alert').attr('class','alert alert-warning hidden');
		}
	});
	</script>

	<script type="text/javascript">
	$('#password2').on('keyup change',function(){
		password1 = $('input#password1').val()
		password2 = $(this).val()
		if(password1 != password2){
			$('div.alert').attr('class','alert alert-warning');
			$('p.message').html('Las Contraseñas no coinciden.');
		}else{
			$('div.alert').attr('class','alert alert-warning hidden');
			$('button.btn-success').attr('disabled',false);
		}
	});
	</script>
</body>
</html>