<html>
<head>
	<title>Lista de Productos</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
</head>
<body>
	{% include 'layouts/nav.html' %}
	<div class="container">
		{% include 'layouts/alerts.html' %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<h1 class="text-center">Lista de Productos</h1>
				</div>
			</div>
			<div class="panel-body">
				<a href="/home/products/add" title="Agregar Producto" class="btn btn-success pull-right"><b>+</b> Agregar Producto</a>
			</div>
			{% for doc in docs %}
			<div class="list-group">
  				<a href="/home/products/edit/{{doc._id}}" class="list-group-item">
    				<h4 class="list-group-item-heading">{{doc.name}}</h4>
    				<p class="list-group-item-text">{{doc.quantity}} Unidades - ${{doc.balance}}</p>
    				<button class="btn btn-warning">Editar / Eliminar</button>
  				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>